@import '../../../assets/scss/colors';
@import '../../../assets/scss/animations';

.back {
  font-weight: 600;
  font-size: 22px;
  color: $mobiquity-blue;
  position: relative;
  padding-left: 45px;
  text-decoration: none;
  display: inline-block;
  height: 60px;
  &::before {
    content: '';
    background-image: url(../../../assets/img/a-arrow-blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    transform: rotate(180deg);
  }
}

.animated {
  animation-delay: .5s;
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
}
