@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    // background-color: #000;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

.h5 {
    font-weight: 700;
}

a {
  .season {
    &:hover {
      cursor: pointer;
      &::before,
      .year {
        width: 150px;
      }
      .driver {
        color: #e10600;
      }
    }
  }
}

@keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    to {
      transform: perspective(400px);
    }
  }

  .flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX;
  }

  .animated {
    animation-duration: .3s;
    animation-fill-mode: both;
  }
